.bio-box {
    border: 1px solid black;
    float: left;
    font-size: 1em;
    padding: 0 2%;
    box-sizing: border-box;
    margin: 40px 1% 0;
    width: 23%;
}
.bio-wrapper {
    font-size: 24px;
    background-color: #c0e0c3;
}
.bio-wrapper:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.social-list {
    list-style: none;
    padding: 0;
    text-align: center;
}
.social-list > li {
    display: inline-block;
    background-color: #bbb;
    min-width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 1.25em;
    font-size: 1em;
    line-height: 1;
}
.social-list li a {
    text-decoration: none;
    color: #000;

}
.bio-box > img {
    width: 255px;
    height: 280px;
    margin-bottom: -70px;
}
.bio-box > h3 {
    text-align: center;
    color: white;
}
.full-hero {
    background-color: darkolivegreen;
    height: 40vh;
}